<!DOCTYPE html>
<html>
<head>
	<title>
		Knowledge Plus 
	</title>
<link th:href="@{/css/style.css}" href="/css/knowledgecss.css"  rel="stylesheet" type="text/css"  />
</head>


<body>


  <div id=dive1>
  	<div id=dive2>
  		<div  id=nav_wrapper>
  		<head><h1>Knowledge Plus </h1></head>
  		<ul id=menue>
  		  <li> <a href="fileupload.html" class="active">`Home</a></li>
  		  <li> <a href="#">About</a></li>
  		  <li><a href="#">Profile</a></li>
  		  <li><a href="#">Courses</a>

  		      <ul>
  		      	<li><a href="#" class="active">Show Courses</a></li>
  		      </ul>

  		  </li>
  		  <li><a href="#">Games</a>

  		     <ul>
  		     	<li><a href="#">Show Games</a></li>
  		     </ul>

  		  </li>
  			</ul>
  		</div>
  	</div>

  </div>







</body>


</html>